<label for="{{ quantity_id }}">Quantity:</label><br>
<input type="number" id="{{ quantity_id }}" name="{{ quantity_name }}" value="{{ quantity_val }}">
<br>
<label for="{{ post_type_id }}">Choose post type:</label><br>
<select name="{{ post_type_name }}" id="{{ post_type_id }}">

{% for p in post_types %}
	<option value="{{ p }}">{{ p }}</option>
{% endfor %}
	
</select>
